__pycache__/
.ipynb_checkpoints/
.env
.venv
env/
venv/
.DS_Store
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.out
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-wheel-metadata/
__pypackages__/
coverage.xml
.coverage
.mypy_cache/
.pytest_cache/
.cache/
.tox/
.nox/
.hypothesis/
.pyre/
.pytype/
.cprofile
.profile
.ipynb
profile_default/
htmlcov/
site/
node_modules/
*.rpt
*.dat
*.tsv
*.xlsx
*.xls
*.sav
*.h5
*.pth
*.ckpt
*.pb
*.onnx
*.joblib
*.npy
*.npz
*.pkl
*.mlmodel
*.tflite
*.pt
*.model
*.weights

# AI開発支援ファイル
CLAUDE.md
